# Flight Price Prediction(EDA + Feature Engineering)

## importing dataset

In [ ]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## importing Dataset and performing EDA

In [ ]:
train__df=pd.read_excel('Data_Train.xlsx')
train__df.head()

In [ ]:
test_df= pd.read_excel('Test_set.xlsx')
test_df.head()

In [ ]:
df = pd.concat([train__df, test_df], axis=0)
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

## FEATURE ENGINEERING PROCESS

### 1st doing feature engineering on Date_of_Journey

In [ ]:
df['Date_of_Journey'].str.split('/').str[0]

In [ ]:
df['Date']=df['Date_of_Journey'].str.split('/').str[0]
df['Month']=df['Date_of_Journey'].str.split('/').str[1]
df['Year']=df['Date_of_Journey'].str.split('/').str[2]

In [ ]:
df.head()

In [ ]:
df['Date']=df['Date'].astype(int)
df['Month']=df['Month'].astype(int)
df['Year']=df['Year'].astype(int)

In [ ]:
df.info()

In [ ]:
df.drop('Date_of_Journey',axis=1,inplace=True)

In [ ]:
df.head(1)

In [ ]:
df['Arrival_Time']=df['Arrival_Time'].str.split(' ').str[0]

In [ ]:
df['Arrival_hour']=df['Arrival_Time'].str.split(':').str[0]
df['Arrival_min']=df['Arrival_Time'].str.split(':').str[1]

In [ ]:
df

In [ ]:
df['Arrival_hour']=df['Arrival_hour'].astype(int)
df['Arrival_min']=df['Arrival_min'].astype(int)

In [ ]:
df.info()

In [ ]:
df.drop('Arrival_Time',axis=1,inplace=True)

In [ ]:
df.head(1)

In [ ]:
df['Dep_Time']=df['Dep_Time'].str.split(' ').str[0]

In [ ]:
df['Dep_hour']=df['Dep_Time'].str.split(':').str[0]
df['Dep_min']=df['Dep_Time'].str.split(':').str[1]

In [43]:
df.drop('Dep_Time',axis=1,inplace=True)

In [45]:
df['Dep_hour']=df['Dep_hour'].astype(int)
df['Dep_min']=df['Dep_min'].astype(int)

In [48]:
df.head(10)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2 stops,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16,50
5,SpiceJet,Kolkata,Banglore,CCU → BLR,2h 25m,non-stop,No info,3873.0,24,6,2019,11,25,9,0
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25,18,55
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,21h 5m,1 stop,No info,22270.0,1,3,2019,5,5,8,0
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,25h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25,8,55
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,7h 50m,1 stop,No info,8625.0,27,5,2019,19,15,11,25

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   Date             13354 non-null  int64
 9   Month            13354 non-null  int64
 10  Year             13354 non-null  int64
 11  Arrival_hour     13354 non-null  int64
 12  Arrival_min      13354 non-null  int64
 13  Dep_hour         13354 non-null  int64
 14  Dep_min          13354 non-null  int64
dtypes: float64(1), int64(7), object(7)
memory usage: 2.1+ MB

In [49]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [50]:
df['Total_Stops']= df['Total_Stops'].map({'non-stop':0,'1 stops':1,'2 stop':2,'3 stops':3,'4 stops':4,'nan':1})

In [52]:
df.head(30)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_min,Dep_hour,Dep_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,NaN,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,NaN,No info,13882.0,9,6,2019,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,5h 25m,NaN,No info,6218.0,12,5,2019,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,4h 45m,NaN,No info,13302.0,1,3,2019,21,35,16,50
5,SpiceJet,Kolkata,Banglore,CCU → BLR,2h 25m,0.0,No info,3873.0,24,6,2019,11,25,9,0
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,15h 30m,NaN,In-flight meal not included,11087.0,12,3,2019,10,25,18,55
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,21h 5m,NaN,No info,22270.0,1,3,2019,5,5,8,0
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,25h 30m,NaN,In-flight meal not included,11087.0,12,3,2019,10,25,8,55
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,7h 50m,NaN,No info,8625.0,27,5,2019,19,15,11,25
10,Air India,Delhi,Cochin,DEL → BLR → COK,13h 15m,NaN,No info,8907.0,1,6,2019,23,0,9,45
11,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0.0,No info,4174.0,18,4,2019,22,55,20,20
12,Air India,Chennai,Kolkata,MAA → CCU,2h 15m,0.0,No info,4667.0,24,6,2019,13,55,11,40
13,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,12h 10m,NaN,In-flight meal not included,9663.0,9,5,2019,9,20,21,10
14,IndiGo,Kolkata,Banglore,CCU → BLR,2h 35m,0.0,No info,4804.0,24,4,2019,19,50,17,15
15,Air India,Delhi,Cochin,DEL → AMD → BOM → COK,26h 35m,NaN,No info,14011.0,3,3,2019,19,15,16,40
16,SpiceJet,Delhi,Cochin,DEL → PNQ → COK,4h 30m,NaN,No info,5830.0,15,4,2019,13,15,8,45
17,Jet Airways,Delhi,Cochin,DEL → BOM → COK,22h 35m,NaN,In-flight meal not included,10262.0,12,6,2019,12,35,14,0
18,Air India,Delhi,Cochin,DEL → CCU → BOM → COK,23h,NaN,No info,13381.0,12,6,2019,19,15,20,15
19,Jet Airways,Delhi,Cochin,DEL → BOM → COK,20h 35m,NaN,In-flight meal not included,12898.0,27,5,2019,12,35,16,0
20,GoAir,Delhi,Cochin,DEL → BOM → COK,5h 10m,NaN,No info,19495.0,6,3,2019,19,20,14,10
21,Air India,Banglore,New Delhi,BLR → COK → DEL,15h 20m,NaN,No info,6955.0,21,3,2019,13,20,22,0
22,IndiGo,Banglore,Delhi,BLR → DEL,2h 50m,0.0,No info,3943.0,3,4,2019,6,50,4,0
23,IndiGo,Banglore,Delhi,BLR → DEL,2h 55m,0.0,No info,4823.0,1,5,2019,21,50,18,55
24,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,13h 20m,NaN,In-flight meal not included,7757.0,6,5,2019,8,15,18,55
25,Jet Airways,Delhi,Cochin,DEL → IDR → BOM → COK,15h 10m,NaN,No info,13292.0,9,6,2019,12,35,21,25
26,IndiGo,Delhi,Cochin,DEL → LKO → COK,5h 45m,NaN,No info,8238.0,1,6,2019,3,35,21,50
27,GoAir,Delhi,Cochin,DEL → BOM → COK,5h 55m,NaN,No info,7682.0,15,5,2019,12,55,7,0
28,Vistara,Banglore,Delhi,BLR → DEL,2h 50m,0.0,No info,4668.0,18,6,2019,12,35,9,45
29,Vistara,Chennai,Kolkata,MAA → CCU,2h 15m,0.0,No info,3687.0,15,6,2019,9,20,7,5